/* 
   ***********************************
   CUSTOM SITE TEMPLATE
   ***********************************
*/

body {
	font-family: Verdana,Geneva,sans-serif; 
	color: #444;
}


/* 
   ***********************************
   Level Up / How it Works
   ***********************************
*/
#levelup-how-it-works {
	padding: 20px 70px; 
}

/* 
   ***********************************
   Level Up / How it Works / Images
   ***********************************
*/
.fit-container {
	max-width:100%;
	height:auto;
	display:block;
}

#top-banner img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* 
   ***********************************
   Level Up / How it Works / Headings
   ***********************************
*/

#levelup-how-it-works h1 {
	font-size:50px;
	color:#3E86C6;
	font-weight:bold;
	text-transform: uppercase;
}

#levelup-how-it-works h2 {
	font-size:36px;
	font-weight:bold;
	color:#4BA5F5;
}

/* 
   ***********************************
   Level Up / How it Works / Buttons
   ***********************************
*/

#levelup-how-it-works .btn {
	margin-top:125px;
}

#levelup-how-it-works .btn-lg {
	background-color: #3E86C6;
	color:#fff;
	font-size:28px;
}


#levelup-how-it-works .btn-lg:hover {
	background-color: #083F9E;
}


/* 
   ***********************************
   Level Up / How it Works / Text
   ***********************************
*/

#levelup-how-it-works strong {
	font-weight: bold;
	color:#4BA5F5;
}

/* 
   ***********************************
   Level Up / How it Works / Paragraph
   ***********************************
*/

#levelup-how-it-works p.first {
	margin-top: 20px;
}

#levelup-how-it-works p.last {
	margin-bottom:20px;
}

#levelup-how-it-works p {
	font-size:22px;
}

/* 
   ***********************************
   Responsive Web Design Media Queries  
   ***********************************
*/

@media (max-width: 1024px) and (min-width: 769px) {
	#levelup-how-it-works h1 {
		font-size:40px;
	}
	#levelup-how-it-works h2 {
		font-size:28px;
	}	
	#levelup-how-it-works p {
		font-size:18px;
	}
	#levelup-how-it-works .btn {
		margin-top:30px;
		font-size:20px;
	}	
}

@media (max-width: 768px) {
	#levelup-how-it-works h1 {
		font-size:24px;
	}
	#levelup-how-it-works h2 {
		font-size:20px;
	}	
	#levelup-how-it-works p {
		font-size:14px;
	}
	#levelup-how-it-works .btn {
		font-size:12px;
		margin-top:20px;
	}		
}